@charset "utf-8";
.fluid {
    width: 100%;
    height: 100%;
}
.site_title {
    text-align: center;
    font-size: 50px;
    color: #0E57D5;
}
.site_image {
    width: 100%;
    height: 250px;
}
.myworks {
    text-align: left;
}
